/*
General styles
*/

body, h1, h2, h3, h4, h5, h6, p, blockquote, td, ol, ul
{
    font-family:      arial, helvetica, sans-serif;
}
body
{
    background-color: white;
    font-size:        12px;
}
hr
{
    width:            100%;
    font-size:        1px;
}

/*
Colors
*/
.color1-bg
{
    background-color: #E2EDCC;
}
.color2-bg
{
    background-color: #D3DEBD;
}
.color3-bg
{
    background-color: #BBBBBB;
}
.colorLight-bg
{
    background-color: #80C200;
}
.colorMedium-bg
{
    background-color: #80C200;
}
.colorDark-bg
{
    background-color: #A0C200;
}
.colorLogin-bg
{
    background-color: #FFCC66;
}
.bgcolor-bg
{
    background-color: white;
}
.bgcolor
{
    color:            white;
}
.warncolor
{
    color:            red;
}
.navycolor
{
    color:            navy;
}
.allokcolor
{
    color:            green;
}

/*
For the tables
*/
.mainInterfaceWidth
{
    width:            100%;
    border:              0;
}
.table100
{
    width:            100%;
}

/*
This is a common style mainly used in the title and in the forms buttons
*/
.main-info-cell
{
    background-color: #80C200;
    padding:          5px 5px 5px 5px;
}
/*
This is a common style for the forms fields
*/
.fields
{
    vertical-align:   top;
    font-size:        12px;
}
fields td
{
    vertical-align:   top;
}
